.vscode/**
.vscode-test/**
.idea/**
out/**
node_modules/**
client/**
server/**
tests/**
build_and_publish.ps1
build_and_publish.sh
vscode-udonsharp-linter.sln
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
